.header {
  min-height: 100vh;
  background: url("../img/header-2.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  position: relative; }
  .header .nav {
    width: 100vw;
    height: 58px;
    background-color: #ffffff;
    position: fixed;
    z-index: 1000; }
    .header .nav .nav__logo {
      height: 58px;
      width: 58px;
      position: relative; }
      .header .nav .nav__logo .nav__logo-link {
        color: #191919; }
        .header .nav .nav__logo .nav__logo-link .nav__logo-icon {
          padding: 9px;
          font-size: 30px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); }
    .header .nav .nav__ham {
      height: 58px;
      width: 58px;
      position: absolute;
      right: 0;
      top: 0; }
      .header .nav .nav__ham .nav__ham-icon {
        font-size: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
    .header .nav .nav__menu {
      background-color: #ffffff;
      position: relative;
      z-index: 1000;
      display: none; }
      .header .nav .nav__menu .nav__menu-list {
        padding: 0 0 10px 0;
        margin: 0; }
        .header .nav .nav__menu .nav__menu-list .nav__menu-elem {
          text-align: center; }
          .header .nav .nav__menu .nav__menu-list .nav__menu-elem .nav__menu-link {
            color: #191919;
            padding: 14px 0;
            display: block;
            width: 100%;
            text-decoration: none;
            font-weight: 700;
            font-size: .9rem;
            letter-spacing: 1px;
            text-transform: uppercase; }
          .header .nav .nav__menu .nav__menu-list .nav__menu-elem .nav__menu-link.nav__menu-link-active {
            color: #10c9c3; }
    .header .nav .nav__menu-show {
      display: block; }
  .header .header__section {
    padding: 0 15px;
    min-height: 100px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%); }
    .header .header__section .header__section-title {
      font-size: 2.7rem;
      font-weight: 700;
      line-height: 48px;
      text-align: center; }
    .header .header__section .header__section-para {
      font-size: 1.125rem;
      color: #787878;
      text-align: center; }
    .header .header__section .header__section-btn {
      background-color: #10c9c3;
      padding: 14px 22px;
      text-transform: uppercase;
      color: #ffffff;
      font-size: .9rem;
      font-weight: 600;
      letter-spacing: 1px;
      border: none;
      outline: none;
      display: block;
      margin: 35px auto 0 auto; }
    .header .header__section .header__section-btn:hover {
      background-color: #ffffff;
      padding: 10px 18px;
      border: 4px solid #10c9c3;
      color: #10c9c3;
      cursor: pointer; }

@media (min-width: 550px) {
  .header .header__section {
    width: 470px;
    right: 0; }
    .header .header__section .header__section-title {
      font-size: 2.6rem;
      text-align: left; }
    .header .header__section .header__section-para {
      text-align: left; }
    .header .header__section .header__section-btn {
      margin: 35px 0 0 0;
      padding: 18px 34px;
      font-size: .8rem; }
    .header .header__section .header__section-btn:hover {
      background-color: #ffffff;
      padding: 14px 30px;
      border: 4px solid #10c9c3;
      color: #10c9c3; } }
@media (min-width: 800px) {
  .header .nav {
    background-color: transparent;
    padding-top: 18px;
    position: absolute;
    width: 100%; }
    .header .nav .nav__logo {
      left: 48px; }
    .header .nav .nav__ham {
      display: none; }
    .header .nav .nav__menu {
      display: block;
      position: static;
      position: absolute;
      top: 22px;
      background-color: transparent;
      width: 100%; }
      .header .nav .nav__menu .nav__menu-list {
        display: flex;
        justify-content: flex-end; }
        .header .nav .nav__menu .nav__menu-list .nav__menu-elem {
          display: inline-block;
          margin: 0 15px; }
          .header .nav .nav__menu .nav__menu-list .nav__menu-elem .nav__menu-link {
            font-size: .8rem; } }
@media (min-width: 1100px) {
  .header {
    min-height: 670px; }
    .header .header__section {
      width: 470px;
      right: 70px; }
    .header .nav .nav__menu {
      right: calc(100% - 1100px); } }
@media (min-width: 1200px) {
  .header .nav .nav__menu {
    right: calc(100% - 1200px); } }
@media (min-width: 1300px) {
  .header .nav .nav__menu {
    right: calc(100% - 1300px); } }
@media (min-width: 1400px) {
  .header .nav .nav__menu {
    display: block;
    position: absolute;
    top: 22px;
    right: calc(100% - 1300px);
    background-color: transparent; }
    .header .nav .nav__menu .nav__menu-list {
      display: flex;
      justify-content: flex-end; }
      .header .nav .nav__menu .nav__menu-list .nav__menu-elem {
        display: inline-block;
        margin: 0 15px; }
        .header .nav .nav__menu .nav__menu-list .nav__menu-elem .nav__menu-link {
          font-size: .8rem; } }
.about {
  min-height: 100px;
  background-color: #ffffff;
  padding: 50px 15px; }
  .about .about__title {
    color: #191919;
    font-weight: 600;
    font-size: 1.875rem;
    text-align: center; }
  .about .about__para {
    color: #787878;
    font-size: 1rem;
    text-align: center; }
  .about .about__img {
    max-width: 250px;
    height: 70px;
    background: url("../img/podpis.png") no-repeat;
    background-position: center;
    background-size: cover;
    margin: 30px auto 10px auto; }

@media (min-width: 550px) {
  .about .about__container {
    width: 530px;
    margin: auto; } }
.skill {
  height: 400px;
  background: url("../img/pro.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  position: relative; }
  .skill .skill_box {
    padding: 0 15px;
    width: calc(100% - 30px);
    position: absolute;
    top: 50%;
    transform: translate(0, -50%); }
    .skill .skill_box .skill__title {
      color: #171717;
      margin: 0;
      padding: 0 0 20px 0;
      font-weight: 600;
      font-size: 1.875rem; }
    .skill .skill_box .skill__para {
      color: #000000;
      font-weight: 700;
      font-size: .9rem;
      letter-spacing: 1px;
      text-transform: uppercase; }
      .skill .skill_box .skill__para .skill__para-percent {
        margin-left: 35px; }
    .skill .skill_box .skill__line {
      height: 4px;
      width: 100%;
      background-color: #d8d8d8; }
      .skill .skill_box .skill__line .skill__line-in {
        height: 4px;
        background-color: #10c9c3; }
      .skill .skill_box .skill__line .skill__line-in.first {
        width: 75%; }
      .skill .skill_box .skill__line .skill__line-in.second {
        width: 90%; }
      .skill .skill_box .skill__line .skill__line-in.third {
        width: 65%; }

@media (min-width: 550px) {
  .skill .skill_box {
    width: 450px; } }
@media (min-width: 1100px) {
  .skill .skill_box {
    width: 540px;
    padding-left: 60px; } }
.profit {
  min-height: 100px;
  background-color: #10c9c3;
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 30px 0; }
  .profit .profit__box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .profit .profit__box .profit__box-left {
      padding: 20px;
      padding-left: 0; }
      .profit .profit__box .profit__box-left .profit__box-icon {
        font-size: 2.2rem; }
    .profit .profit__box .profit__box-right {
      min-width: 160px; }
      .profit .profit__box .profit__box-right .profit__box-top {
        margin: 0 0 5px 0;
        font-size: 1.1rem;
        font-weight: 700; }
      .profit .profit__box .profit__box-right .profit__box-down {
        margin: 5px 0 0 0;
        font-size: .8rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px; }

@media (min-width: 550px) {
  .profit .profit__box {
    width: auto; } }
.work {
  min-height: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .work .work__img {
    width: 100vw;
    height: 300px; }
  .work .work__img-hov {
    height: 100%;
    background-color: black;
    position: relative;
    opacity: 0; }
    .work .work__img-hov .work__img-hov-show {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 3rem;
      color: white; }
  .work .work__img-hov:hover {
    -webkit-animation-name: showEye;
    -webkit-animation-duration: 1s;
    animation-name: showEye;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    cursor: pointer; }
@-webkit-keyframes showEye {
  from {
    opacity: 0; }
  to {
    opacity: .8; } }
@keyframes showEye {
  from {
    opacity: 0; }
  to {
    opacity: .8; } }
  .work .work__img.ban1 {
    background: url("../img/ban1.png") no-repeat;
    background-position: center;
    background-size: cover; }
  .work .work__img.ban2 {
    background: url("../img/ban2.png") no-repeat;
    background-position: center;
    background-size: cover; }
  .work .work__img.ban3 {
    background: url("../img/ban3.png") no-repeat;
    background-position: center;
    background-size: cover; }
  .work .work__img.ban4 {
    background: url("../img/ban4.png") no-repeat;
    background-position: center;
    background-size: cover; }
  .work .work__img.ban5 {
    background: url("../img/ban5.png") no-repeat;
    background-position: center;
    background-size: cover; }
  .work .work__img.ban6 {
    background: url("../img/ban3.png") no-repeat;
    background-position: center;
    background-size: cover; }
  .work .work__img.ban7 {
    background: url("../img/ban7.png") no-repeat;
    background-position: center;
    background-size: cover; }
  .work .work__img.ban8 {
    background: url("../img/ban8.png") no-repeat;
    background-position: center;
    background-size: cover; }

@media (min-width: 345px) {
  .work .work__img {
    width: 341.5px; } }
.load {
  min-height: 50px;
  padding: 30px 0;
  background-color: #f5f5f5; }
  .load .load__para {
    text-align: center; }
    .load .load__para .load__link {
      font-weight: 700;
      text-transform: uppercase;
      color: #8e8e8e;
      font-size: .9rem;
      letter-spacing: 1px; }

.process {
  min-height: 100px;
  background-color: #ffffff;
  padding: 50px 15px; }
  .process .process__title {
    color: #191919;
    font-weight: 600;
    font-size: 1.875rem;
    text-align: center; }
  .process .process__para {
    color: #787878;
    font-size: 1rem;
    text-align: center; }

@media (min-width: 550px) {
  .process__block {
    width: 530px;
    margin: auto; } }
.achive {
  min-height: 400px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px 0; }
  .achive .achive__box {
    width: 100%;
    text-align: center;
    padding: 20px 15px; }
    .achive .achive__box .achive__box-top {
      padding: 25px 0 15px 0; }
      .achive .achive__box .achive__box-top .achive__box-icon {
        font-size: 2.1rem;
        color: #787878; }
    .achive .achive__box .achive__box-bottom .achive__title {
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 0.8125rem;
      color: #191919; }
    .achive .achive__box .achive__box-bottom .achive__para {
      color: #787878; }

@media (min-width: 500px) {
  .achive {
    padding: 70px 0; }
    .achive .achive__box {
      width: 270px; } }
.slider {
  height: 390px;
  background-color: #10c9c3;
  color: #ffffff;
  text-align: center;
  position: relative; }
  .slider .slider__box {
    display: none;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-12%, -50%); }
    .slider .slider__box .slider__content {
      font-size: 1.5rem;
      font-weight: 600; }
    .slider .slider__box .slider__author {
      font-size: .9rem;
      font-weight: 600;
      text-transform: uppercase; }

.slider__dot-block {
  min-height: 30px;
  background-color: #10c9c3;
  color: #ffffff;
  text-align: center; }
  .slider__dot-block .slider__dot-list {
    padding-left: 0;
    padding-bottom: 40px;
    margin: 0; }
    .slider__dot-block .slider__dot-list li {
      display: inline-block;
      margin: 0 5px;
      font-size: .8rem; }
      .slider__dot-block .slider__dot-list li i {
        padding: 10px; }
      .slider__dot-block .slider__dot-list li i:hover {
        cursor: pointer; }
      .slider__dot-block .slider__dot-list li .active-dot {
        font-size: 1.1rem; }

@media (min-width: 970px) {
  .slider .slider__box .slider__content {
    padding: 0 130px; } }
.firm {
  min-height: 60px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .firm .firm__box {
    margin: 30px;
    width: 98px;
    height: 58px; }
  .firm .firm1 {
    background: url("../img/logo1.png") no-repeat;
    background-position: center;
    background-size: contain; }
  .firm .firm2 {
    background: url("../img/logo2.png") no-repeat;
    background-position: center;
    background-size: contain; }
  .firm .firm3 {
    background: url("../img/logo3.png") no-repeat;
    background-position: center;
    background-size: contain; }
  .firm .firm4 {
    background: url("../img/logo4.png") no-repeat;
    background-position: center;
    background-size: contain; }
  .firm .firm5 {
    background: url("../img/logo5.png") no-repeat;
    background-position: center;
    background-size: contain; }

@media (min-width: 1000px) {
  .firm {
    padding: 40px 0; }
    .firm .firm__box {
      margin: 30px 60px;
      width: 128px;
      height: 88px; } }
.need {
  min-height: 100px;
  background-color: #f5f5f5;
  padding: 15px; }
  .need .need__block-title {
    color: #191919;
    font-weight: 600;
    font-size: 1.875rem;
    text-align: center; }
  .need .need__block-para {
    color: #787878;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 30px; }
  .need .need__form-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .need .need__form-top .need__form-input {
      padding: 15px 20px;
      width: 300px;
      background-color: #ffffff;
      border: none;
      outline: none;
      margin: 8px auto;
      font-size: 1rem; }
    .need .need__form-top .need__form-title {
      display: block;
      padding: 15px 20px;
      width: 300px;
      background-color: #ffffff;
      border: none;
      outline: none;
      margin: 8px auto 16px auto;
      font-size: 1rem; }
    .need .need__form-top .need__form-area {
      display: block;
      padding: 15px 20px;
      width: 300px;
      height: 140px;
      background-color: #ffffff;
      border: none;
      outline: none;
      margin: 8px auto;
      font-size: 1rem; }
  .need .need__form-btn {
    background-color: #10c9c3;
    padding: 14px 22px;
    text-transform: uppercase;
    color: #ffffff;
    font-size: .9rem;
    font-weight: 600;
    letter-spacing: 1px;
    border: none;
    outline: none;
    display: block;
    margin: 16px auto 25px auto; }
  .need .need__form-btn:hover {
    background-color: #ffffff;
    padding: 10px 18px;
    border: 4px solid #10c9c3;
    color: #10c9c3; }

@media (min-width: 710px) {
  .need .need__block-para {
    width: 530px;
    margin: 0 auto 30px auto; }
  .need .need__form-top {
    width: 700px;
    margin: auto; }
    .need .need__form-top .need__form-input {
      width: 298px; }
    .need .need__form-top .need__form-title {
      width: 650px; }
    .need .need__form-top .need__form-area {
      width: 650px; }
  .need .need__form-btn {
    margin: 16px auto 30px auto;
    padding: 18px 34px;
    font-size: .8rem; }
  .need .need__form-btn:hover {
    background-color: #ffffff;
    padding: 14px 30px;
    border: 4px solid #10c9c3;
    color: #10c9c3; } }
.footer {
  min-height: 100px;
  background-color: #141414; }
  .footer .footer__inside {
    padding: 25px 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    .footer .footer__inside .footer__left .footer__left-title {
      color: #ffffff;
      font-size: 1.1rem; }
    .footer .footer__inside .footer__left .footer__left-copy {
      color: #bcbcbc;
      font-size: 1rem; }
    .footer .footer__inside .footer__left .footer__left-design {
      color: #bcbcbc;
      font-size: 1rem; }
    .footer .footer__inside .footer__middle {
      width: 100%;
      margin: 30px auto; }
      .footer .footer__inside .footer__middle .footer__middle-mt {
        text-align: center; }
        .footer .footer__inside .footer__middle .footer__middle-mt a {
          color: #bcbcbc;
          font-size: 1rem;
          text-decoration: none; }
    .footer .footer__inside .footer__right .footer__lists {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap; }
      .footer .footer__inside .footer__right .footer__lists .footer__list {
        padding-left: 0;
        margin: 30px 20px;
        list-style-type: none; }
        .footer .footer__inside .footer__right .footer__lists .footer__list .footer__elem {
          margin: 8px 0; }
          .footer .footer__inside .footer__right .footer__lists .footer__list .footer__elem .footer__link {
            color: #bcbcbc;
            text-decoration: none;
            font-size: 1rem; }

@media (min-width: 980px) {
  .footer .footer__inside .footer__left {
    width: calc(100% / 3); }
  .footer .footer__inside .footer__middle {
    width: calc(100% / 3); }
  .footer .footer__inside .footer__right {
    width: calc(100% / 3); } }
@media (min-width: 1200px) {
  .footer {
    padding: 70px 0; }
    .footer .footer__inside {
      padding: 0 110px; }
      .footer .footer__inside .footer__left {
        width: calc(100% / 3); }
      .footer .footer__inside .footer__middle {
        width: calc(100% / 3); }
        .footer .footer__inside .footer__middle .footer__middle-mt {
          padding-left: 80px;
          text-align: left; }
      .footer .footer__inside .footer__right {
        width: calc(100% / 3); }
        .footer .footer__inside .footer__right .footer__list:last-child {
          margin-left: 90px; } }
html, body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  color: #191919; }

.film {
  margin-bottom: 60px; }
  .film .film__content {
    width: 100%; }

@media (min-width: 900px) {
  .film {
    width: 850px;
    margin: auto; } }
@media (min-width: 1200px) {
  .film {
    width: 1100px; } }
@media (min-width: 1400px) {
  .container {
    width: 1366px;
    margin: auto; } }

/*# sourceMappingURL=style.css.map */
